<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" charset="utf-8">
    <link rel="stylesheet" href="" charset="utf-8">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Task </h1>
    <ul>

      <li>| <%= @task.id %> | <%= @task.body %> | <%= @task.completed %> |</li>

    </ul>
    <header>
    </header>
    <main class="main1">
    </main>
    <footer>
    </footer>
  </body>
</html>
